@using System.Globalization
@model QLKTX.Models.SampleContractViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Khai báo hợp đồng mẫu";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Soạn HĐ mẫu</h3>
                </div>
                <div class="card-body" style="padding:0rem;">
                    @*<div id="editor"></div>*@
                    <textarea name="editor1"></textarea>
                </div>
                <div class="card-footer clearfix text-center">
                    <button type="button" class="btn btn-sm btn-primary" onclick="onSave(event)" @(Model.FUPermiss.FEdit ? "" : "disabled")><i class="fa fa-save"></i> Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var requiredList = document.getElementsByClassName("entry_required");
        var editIndex = undefined;
        var FunctionID = "@Model.FunctionID";
        let contractDeclareKey = @Model.ContractDeclareKey ? getInt(@Model.ContractDeclareKey) : 0;

        $(document).ready(async function () {
            //ClassicEditor
            //    .create(document.querySelector('#editor'))
            //    .then(editor => {
            //        console.log(editor);
            //    })
            //    .catch(error => {
            //        console.error(error);
            //    });

            var editor = CKEDITOR.replace('editor1');
            $.ajaxSettings.async = false;
            onGetSampleContract(contractDeclareKey);
            $.ajaxSettings.async = true;
        });

        function onGetSampleContract(contractDeclareKey) {
            if (contractDeclareKey > 0) {
                ajaxindicatorstart(VNMessageR.COMMON_00011);
                $.ajax({
                    type: 'GET',
                    url: "/ContractDeclare/GetSampleContract/" + contractDeclareKey,
                    headers: { 'FunctionID': FunctionID },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result.Success) {
                            CKEDITOR.instances['editor1'].setData(result.Data?.SampleContract);
                        } else {
                            CKEDITOR.instances['editor1'].setData([]);
                        }
                        ajaxindicatorstop();
                    }, error: function (err) {
                        ToastrException(err);
                        ajaxindicatorstop();
                    }
                });
            } else {
                CKEDITOR.instances['editor1'].setData([]);
            }
        }

        function onSave(e) {
            e.preventDefault();
            let isValidForm = ValidateControlForm(requiredList);
            if (!isValidForm) {
                toastr.warning(VNMessageR.COMMON_00001);
                return false;
            }

            $.messager.confirm(VNMessageR.COMMON_00010,
                VNMessageR.COMMON_00007,
                function (r) {
                    if (r) {
                        let objSave = {
                            ContractDeclareKey: @Model.ContractDeclareKey ? getInt(@Model.ContractDeclareKey) : 0,
                            SampleContract: CKEDITOR.instances.editor1.getData()
                        };
                        CallAjaxSave("UpdateSampleContract", objSave);
                    }
                });
            return false;
        }

        //Ajax call API
        function CallAjaxSave(mode, objData) {
            try {
                ajaxindicatorstart(VNMessageR.COMMON_00011);
                $.ajax({
                    type: "PUT",
                    url: "/ContractDeclare/" + mode,
                    headers: { 'FunctionID': FunctionID },
                    dataType: "json",
                    contentType: "application/json;",
                    data: JSON.stringify(objData),
                    success: function (msg) {
                        ajaxindicatorstop();
                        if (msg.Success) {
                            toastr.success(VNMessageR.COMMON_00003);
                            setTimeout(function () {
                                onGetSampleContract(contractDeclareKey);
                            }, 500);
                        } else {
                            ToastrErr(msg);
                        }
                    },
                    error: function (err) {
                        ToastrException(err);
                        ajaxindicatorstop();
                    }
                });
            } catch (err) {
                toastr.error(err);
                ajaxindicatorstop();
            }
        }

    </script>
}